* {
  box-sizing: border-box;
  transition: background-color, border-color, text-decoration-color, fill,
    stroke;
  -webkit-transition: background-color, border-color, text-decoration-color,
    fill, stroke;
  -moz-transition: background-color, border-color, text-decoration-color, fill,
    stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
}

#__next,
main {
  @apply overflow-hidden w-full h-full m-0 p-0;
}
