@font-face {
  font-family: "Fira Code";
  src: url("/fonts/firacode.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik.ttf"), url("/fonts/rubikitalic.ttf");
}
@font-face {
  font-family: "Indie Flower";
  src: url("/fonts/indieflower.ttf");
}
