@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/firacode.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik.ttf") src("/fonts/rubikitalic.ttf");
}

* {
  box-sizing: border-box;
  transition: color, background-color, border-color, text-decoration-color, fill,
    stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#__next,
main {
  @apply overflow-hidden w-full h-full m-0 p-0;
}
